* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(black,rgb(26,26,26),rgb(36,36,36));
    padding: 20px;
}
section{
    width: 400px;
    height: 100%;
    background: transparent;
    border-radius: 10px;
    margin: auto;

}
.all-reels{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.reels{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    scroll-snap-align: start;
}
.mainimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.bottom{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile{
    display: flex;
    gap: 15px;
    align-items: center;
}
.profile h4{
    font-size: 20px;
}
.profile img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.profile button{
    background: transparent;
    border: 2px solid white;
    padding: 4px 10px;
    border-radius: 2px;
    color: white;
    font-weight: 900;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.right i{
    font-size: 28px;
    font-weight: 100;
}
.icon h6{
    font-size: 13px;
}
.caption{
    width: 95%;
}
.right{
    position: absolute;
    bottom: 10%;
    right: 4%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#love{
    color: rgb(184, 16, 50);
}

.like h6,.like .like-icon{
    pointer-events: none;
}
.follow{
    cursor: pointer;
}
.follow:active{
    transform: scale(0.95);
}
.mute{
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 50%;
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
.mute:active{
    transform: scale(0.95);
}